body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: lightgray;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.box {
    border: 1px solid gray;
    font-size: 4vw;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;  /* same as div height */
    width: 75px;
    height: 75px;
    background-color: white;
    margin: .25rem;
}
    
.gridContainer {
    display: flex;
    flex-direction: column;
}